# Application
NODE_ENV=development
PORT=3000

# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=geduser
POSTGRES_PASSWORD=gedpassword
POSTGRES_DB=geddb

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/GEDPRO
MONGO_DB=GEDPRO
MONGO_PORT=27017

# JWT Configuration
JWT_SECRET=mon-super-secret-jwt-changez-moi-en-production
JWT_EXPIRES_IN=86400

